.user-container{
  display: flex;
}
.user-div{
  width: 14rem;
  margin: .3rem ;
  padding: .3rem;
  background-color: white;
}
.user-div p {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
}
.user-div p input{
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
 
  color: #212121;
}
.input-names{
 font-weight: 600;
  
}
.more-data{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  background-color: #ccc;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 0.1rem 0.1rem black;
  cursor: pointer;
}

.user-div-btns{
 
  float: right;
}
.user-div-btns button{
  margin-left: 10px;
 padding: .4rem .8rem;
  font-size: 11px;
  background: transparent;
  cursor: pointer;
  
  outline: none;
  border: none;
  font-weight: 700;
  color: white;
  background: black;
}
.user-div-btns button:nth-child(2){
 color: #ef5350;
}

@media (max-width: 600px) {
  .user-div{
    width: 9rem;
    margin: .3rem ;
    padding: .3rem;
    background-color: white;
  }
  .user-div p {
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .user-div p input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
   
    color: #212121;
  }
}